<mat-drawer-container class="navigation-container" autosize>
  <mat-drawer
    #drawer
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    class="navigation-sidenav"
    mode="side">
    <mat-toolbar color="primary">
      <span>
        <img
          src="./assets/logo.png"
          alt="Logo"/>
      </span>
    </mat-toolbar>
    <mat-action-list *ngIf="menu$ | async as menu">
      <ng-container *ngFor="let i of menu">
        <button
          mat-list-item
          routerLinkActive="active shadow-sm"
          [routerLink]="i">
          {{ i | titlecase }}
        </button>
      </ng-container>
    </mat-action-list>
  </mat-drawer>

  <mat-drawer-content>
    <mat-toolbar color="primary">
      <button
        (click)="drawer.toggle()"
        mat-icon-button
        class="navigation-icon"
        aria-label="navigation icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>
        <img
          src="./assets/logo.png"
          alt="Logo"
          class="border-end border-secondary pe-2" />
        <span class="text-danger ms-2" style="font-size: 12px">0.1</span></span
      >
      <span class="spacer"></span>
      <app-appearance-setting
        class="d-block"
        style="
          opacity: 0;
          width: 0px;
          pointer-events: none;
        "></app-appearance-setting>
      <ng-container *ngIf="authService.user$ | async as user">
        <img
          [src]="user.photoURL"
          [matMenuTriggerFor]="userMenu"
          style="width: 50px; padding: 2px"
          class="rounded-circle border border-secondary shadow-sm"
          alt="photoURL" />
        <mat-menu #userMenu="matMenu">
          <app-appearance-setting></app-appearance-setting>
          <mat-divider></mat-divider>
          <button (click)="signOut()" mat-menu-item [matTooltip]="'Logout'">
            <mat-icon>logout</mat-icon>Logout
          </button>
        </mat-menu>
      </ng-container>
    </mat-toolbar>
    <mat-card class="main-card">
      <mat-card-content
        style="max-height: calc(100vh - 90px); overflow: hidden auto">
        <ng-content></ng-content>
      </mat-card-content>
    </mat-card>
  </mat-drawer-content>
</mat-drawer-container>
