:host {
  .spacer {
    flex: 1 1 auto;
  }

  .navigation-container {
    width: calc(100vw - 0px);
    height: calc(100vh - 0px);
  }

  .navigation-sidenav {
    width: 220px;
  }

  .main-card {
    height: calc(100% - 85px);
    width: calc(100% - 20px);
    margin-top: 10px;
    margin-left: 10px;
  }
  mat-drawer-container {
    ::ng-deep mat-drawer-content {
      overflow: hidden;
    }
    ::ng-deep .mat-drawer-backdrop.mat-drawer-shown {
      visibility: visible;
      background-color: transparent;
    }
  }
}
