<mat-drawer-container class="navigation-container" autosize>
  <mat-drawer
    #drawer
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    class="navigation-sidenav"
    mode="side">
    <mat-action-list>
      <ng-container
        *ngFor="
          let i of [
            'franchise',
            'brachces',
            'products',
            'prices',
            'inventory',
            'sales',
            'vendors',
            'cutomers',
            'order-taking',
            'login',
            'registration'
          ]
        ">
        <button
          mat-list-item
          routerLinkActive="active shadow-sm"
          [routerLink]="i">
          {{ i | titlecase }}
        </button>
      </ng-container>
    </mat-action-list>
  </mat-drawer>

  <mat-drawer-content>
    <mat-toolbar color="primary">
      <button
        (click)="drawer.toggle()"
        mat-icon-button
        class="navigation-icon"
        aria-label="navigation icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Retail-360</span>
      <span class="spacer"></span>
      <app-appearance-setting></app-appearance-setting>
    </mat-toolbar>
    <mat-card class="main-card">
      <mat-card-content
        style="max-height: calc(100vh - 90px); overflow: hidden auto">
        <ng-content></ng-content>
      </mat-card-content>
    </mat-card>
  </mat-drawer-content>
</mat-drawer-container>
