:host {
  mat-card {
    width: 98%;
    height: 90%;
  }
  .app-loader {
    position: fixed;
    display: flex;
    z-index: 10000;
    top: 0;
    left: 0;
    width: calc(100vw - 0px);
    height: calc(100vh - 0px);
    background-color: rgb(255, 212, 98, 0.2);
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
}
